body { background-color:#ffb6c1 }

h1 {
  color: #faebd7;
  
}

h3 {
  color: #faebd7;
}

hr {
border-style:none;
border-top-style: dotted;
border-color: white;
border-width: 10px;
width: 30%;
  }
